.body {
	overflow: auto;
}

#ui-view-div {
  overflow-x: hidden;
}

#profilePicture {
	height: 530px;
	border-radius: 5px;
	margin-bottom: 30px;
}
#aboutMeBg {
	position: absolute;
	/*z-index: -1;*/

	/*width: 100%;
	height: 100%;*/
	top: 0;
	left: 0;
}
.contact-me-jumbo {
  margin: 0;
}
.main-section {
    position:relative;
	/*position: absolute;
	z-index: -1;*/

	/*width: 100%;
	height: 100%;
	top: 0;
	left: 0;*/
    /*background-image: url('./assets/imgs/northern-lights.jpg');*/
}
.img-responsive {
    margin: 0 auto;
}
#projectHeader {
	font-size: 50px;
	/*margin: 0 0 30px 0;*/
	/*background: whitesmoke;*/
}
.whitesmoke {
	background: whitesmoke;
}
.no-bg {
  background: none !important;
}
/*.project {
	border: 1px solid #b22222;
	border-radius: 5px;
	background: whitesmoke;
}*/
.row-contered{
    display:inline-block;
    float:none;
}

.col-md-12 .project {
	margin: 30px;
	padding: 30px;
}
.col-md-6 .project {
	margin: 30px;
	padding: 30px;
	height: 450px;
}
.col-md-4 .project {
	margin: 20px;
	padding: 20px;
	height: 400px;
}
.col-md-3 .project {
	margin: 10px;
	padding: 10px;
	height: 400px;
}
.col-md-2 .project {
	margin: 5px;
	padding: 5px;
	height: 400px;
}



/* Featurettes
------------------------- */

.featurette-divider {
  margin: 30px 0; /* Space out the Bootstrap <hr> more */
  border-bottom: 1px solid;
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}


.center_div{
    margin: 0 auto;
    width:80% /* value of your choice which suits your alignment */
}

.btn-row {
	margin: 5px;
}


.wrap {
	padding:0 10px;
}

.paddRow {
  /*background-color:#dadada;*/
  color:#818181;
  /*display:none;*/
  padding:30px;
}
.paddRow.aboutRow {
  background-color:#78c2d4;
  /*color:#FFF !important;*/
  display:block;
}
.paddRow .head {
	font-size:3em;
	font-weight:100;
	/*margin: auto;*/
	width:50%;
}
.paddRow .close {
	cursor:pointer;
	position:absolute;
	right:50px;
	top:80px;
	width:38px;
}


.contactForm {
	/*margin: auto;*/
  width:50%;
}


.center-50 {
  margin: auto;
  width:50%;
}


@media (max-width: 900px) {
    .contactForm {
      width:100%;
    }
    #profilePicture {
      height: 580px;
    }
}



/* Contact Me */
input,textarea {
  -webkit-appearance: none;
  background-color: #f7f7f7;
	border: 1px solid #b22222;
  border-radius: 3px;
  font-size:  16px;
  font-weight: 100;
}
input:focus,textarea:focus {
  border: none;
  outline: 2px solid #7ed7b9;
}


.input {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 1% 0;
  padding: 12px 14px;
  width: 47%;
}
.input.email {
  float: right;
}

.textarea {
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
  box-sizing:border-box;
  height:200px;
  margin:1% 0;
  overflow:auto;
  padding:12px 14px;
  resize:none;
  width:100%;
}

.contact-me-btn {
  background: #b22222;
  color: #f5f5f5;
}

@media (max-width: 480px) {
    body {
      font-size:70%;
      margin:0;
    }
    header {
      height:50px;
      margin: 0;
      padding: 0;
    }
    header .logo {
      display:none;
    }
    header nav {
      margin-top:3px;
    }
    header nav ul li {
      margin-right:3px;
    }
    header nav ul li a {
      border-radius:20px;
      font-size:1.3em;
      padding:5px 14px;
    }
    #contactBtn {
      display:none;
    }
    .wrap {
      padding:0 10px;
    }
    .paddRow {
      padding-bottom:20px;
    }
    .paddRow .head {
      margin:20px 0;
    }
    .paddRow .close {
      right:10px;
      top:45px;
      width:20px;
    }
    .about .image {
      margin:10% auto;
      width:60%;
    }
    .about .abIcon {
      display:inline;
    }
    .projectHead .centerText {
      width:90%;
    }
    .about .txt,.input {
      width:100%;
    }
    .about .flLeft,.about .flRight,.input.email {
      float:none;
    }
}


/* ======= Footer ======= */
.footer {
  color: #fff;
  /*padding-top: 20px;*/
  padding: 30px 0 20px 0;
}
/* ======= Header ======= */
.header {
  padding: 10px;
  margin-bottom: 30px;
  font-family: 'Montserrat', sans-serif;
  background: whitesmoke;
  border-radius: 5px;
  font-size: 20px;
  /*background: #f5f5f5;*/
  /*border-top: 10px solid #778492;*/
}
.header .btn {
  margin-top: 60px;
  font-weight: bold;
}
.header .profile-image {
  margin-right: 30px;
}
.header .profile-content .name {
  color: #49515a;
  font-size: 40px;
  margin-top: 5px;
  margin-bottom: 5px;
  /*width: 80%;
  margin: auto;*/
}
.header .profile-content .desc {
  color: #778492;
  font-family: "Lato", arial, sans-serif;
  font-weight: 400;
  font-size: 24px;
  margin-top: 0;
  margin-bottom: 15px;
  /*width: 65%;
  margin: auto;*/
}
.header .profile-content .social a {
  background: #b22222;
  width: 36px;
  height: 36px;
  display: inline-block;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  color: #fff;
  text-align: center;
}
.header .profile-content .list-inline {
  padding: 10px;
  /*width: 70%;*/
  /*margin: auto;*/
}
.header .profile-content .social a:hover {
  background: #778492;
}
.header .profile-content .social a .fa {
  font-size: 20px;
  padding-top: 8px;
}
/* ======= Sections======= */
.sections-wrapper {
  padding-top: 30px;
  padding-bottom: 30px;
}
.section {
  margin-bottom: 30px;
}
.section .section-inner {
  background: whitesmoke;
  padding: 30px;
  border-radius: 5px;
}
.section .content .intro {
  font-size: 16px;
}
.section .heading {
  margin-top: 0;
  margin-bottom: 15px;
  color: #545e69;
  font-size: 24px;
}
.section .content .more-link .fa {
  margin-right: 5px;
  font-size: 14px;
}
/* Education section */
.education .item {
  margin-bottom: 30px;
}
.education .item:last-child {
  margin-bottom: 0;
}
.education .item .title {
  font-size: 16px;
  margin-top: 0;
}
.education .item .university {
  font-family: "Lato", arial, sans-serif;
  font-size: 13px;
  color: #999999;
  font-weight: 600;
  /*padding-left: 25px;*/
}
.education .item .university .year {
  color: #b0b7bf;
  font-weight: 500;
}
/* Skills Section */
.skills .intro {
  margin-bottom: 30px;
}
.skills .skillset .item {
  margin-bottom: 15px;
}
.skills .skillset .level-title {
  font-size: 16px;
  position: relative;
  margin-top: 0;
  margin-bottom: 10;
}
.skills .skillset .level-title .level-label {
  /*color: #ccd1d6;*/
  font-size: 14px;
  font-weight: 400;
  font-family: "Lato", arial, sans-serif;
  position: absolute;
  right: 0;
  top: 0;
}
.skills .skillset .level-bar {
  height: 15px;
  background: #e8e8e8;
}
.skills .skillset .level-bar-inner {
  height: 15px;
  background: #b22222;
}
