#profilePicture {
	/*height: 610px;*/
	border-radius: 5px;
	margin-bottom: 30px;
}
#headerBgImg {
	position: absolute;
	z-index: -1;

	width: 100%;
	height: 840px;
	top: 0;
}
.img-responsive {
    margin: 0 auto;
}
#projectHeader {
	font-size: 50px;
	margin: 0 0 30px 0;
	/*background: whitesmoke;*/
}
.whitesmoke {
	/*background: whitesmoke;*/
}
.project {
	padding: 30px;
	height: 500px;
	margin: 30px;
	border: 1px solid gray;
	border-radius: 5px;
	background: whitesmoke;
}
.row-contered{
    display:inline-block;
    float:none;
}
